<div id="map-canvas"></div>
<div class="actions">
  <a data-create data-create-radar href="#">Criar Radar</a>
  <a data-create data-create-stop href="#">Criar Operação Stop</a>
  <a data-submit data-submit-post href="#" style="display: none;">Submeter</a>
  <a data-submit data-submit-cancel href="#" style="display: none;">Cancelar</a>
</div>
