<!doctype>
<html>
  <head>
    <title>Operação STOP</title>

    <meta charset="utf-8">
    <meta name="description" content="Evite operações stop e radares" />
    <meta name="keywords" content="operações stop, radares, radar, polícia" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" type="text/css" href="/assets/app.css" />

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8k_du-RU52C9g7J1PnJmVWkIFsgmDG5M&sensor=false"></script>
    <script src="/assets/app.js"></script>
  </head>
  <body>
    <div id="page">
      <div class="header-top">
        <div class="branding">
          <img src="assets/logo.png">
          <h1 class="title">Operações Stop</h1>
        </div>
        <div class="facebook">
          <iframe src="https://www.facebook.com/plugins/like.php?href=http://operacaostop.tk/"
            scrolling="no" frameborder="0"></iframe>
        </div>
      </div>
      <div class="header-ribon"></div>
      <%= yield %>
    </div>
  </body>
</html>
