@import 'bourbon/bourbon';
@import 'normalize';

$headerTop: 100px;
$headerRibon: 15px;
$headerHeight: $headerTop + $headerRibon;

// $color1: #ddd;
// $color2: #666;

$color1: #FFC345;
$color2: #D04D3E;

html, body { height: 100%; margin: 0px; }

#map-canvas { 
  height: auto;
  width: 100%;
  position: absolute;
  top: $headerHeight;
  bottom: 0;
}

.actions{
  position: absolute;
  bottom: 0px;
}

@mixin action($color) {
  @include button(simple, $color);
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 16px;
  width: 200px;
  margin: 5px;
  text-align: center;  
}

.actions a, .action{
  @include action($color1);
  color: $color2;
  &.positive { @include action(#00AA00); }
  &.negative { @include action(#AA0000); }
}

.header-top{
  height: $headerTop;
  background-color: $color1;
  position: relative;
  overflow: hidden;
}

.header-ribon{
  height: $headerRibon;
  background-color: $color2;
}

#page{ min-height: 100%; }

.branding{
  img{ float: left; 
    width: 75px;
    margin-top: 5px;
    margin-left: 20px; 
  }

  .title{
    text-transform: lowercase;
    font-variant: small-caps;
    font-family: Helvetica;
    float: left;
    color: $color2;
    margin-left: 20px;
    font-size: 46px;
    line-height: 100%;
  }
}

.facebook{  
  height: $headerTop;  
  position: relative;
  float: right;
  bottom: -$headerTop + 40px;
  margin-right: 0px;
}