<p>Avistados há ...</p>
<p>Viste <% if (type == "stop") { %> uma operação stop <% } else { %> um radar <% } %> aqui?</p>
<div><a class="action" data-confirm=<%= id %> href="#">Sim</a></div>
<div><a class="action" data-report=<%= id %> href="#">Não</a></div>
